	<center>
		<div class="hero-unit"><h1>Premier blog</h1></div>
	</center>
	<hr>
	<center>
		<h2>Nos Messages</h2>
	</center>
	<hr>
	<% @title.each do |newposte| %>
	<p><strong><%= newposte.name %></strong></p>
	
<div>
	<p><%= newposte.message %></p>
    <p><%= newposte.created_at %></p>
</div>
	<a href="/edit/<%= newposte.id %>">Modifier</a> <a href="/del/<%= newposte.id %>">Supprimmer
	</a></p>
    <hr>
	<% end %>